<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style-tts.css">
</head>

<body>
	<div id="full">
        <div id="left_border"></div>
        <div id="myDiv">
        <!-- Header -->
        <%- include("header") -%>
        <p id="logo" title="Logo Speech Box"><img src="images/logo-tts.png"></p>
        <h1>Contact us</h1>
        <p>Budi Darmulyana</p>
        <p>budy14@gmail.com</p>
        <p>Yayasan Mitra Netra</p>
        <p>&nbsp; </p><p>&nbsp; </p>
     
      </div>
      <div id="right_border">
      </div>
      </div>
      
      <div id="footer">
        <%- include("footer") -%>
      </div>
    </body>

</html>