            <nav class="nav-primary">
              <ul>
                  <li>
                      <a href="speech2text" title="Home">Speech-to-Text</a>
                  </li>
                  <li>
                      <a href="contact" title="Contact us">Contact</a>
                  </li>
              </ul>
          </nav>
