<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style-tts.css">
</head>

<body>
	<div id="full">
        <div id="left_border"></div>
        <div id="myDiv">
        <!-- Header -->
            <%- include("header") -%>

        <p id="logo" title="Logo Speech Box"><img src="images/logo-tts.png"></p>
        <h1>Speech Box <span class="judul">Text to Speech</span></h1>
        <p>A Free web base Text-to-Speech service</p>
      
      <!-- Start Main -->
            <form>
            <textarea name="txt" class="txt cols="200" rows="4"m placeholder="Type text here or copy and paste..." accesskey="1"></textarea>
            <div>
              <label for="rate">Rate</label><input type="range" min="0.5" max="2" value="1" step="0.1" id="rate" title="use the arrows to adjust the speed of voice" accesskey="2">
              <div class="rate-value">1</div>
              <div class="clearfix"></div>
            </div>
            <div>
              <label for="pitch">Pitch</label><input type="range" min="0" max="2" value="1" step="0.1" id="pitch" title="use the arrows to adjust the pitch of voice" accesskey="3">
              <div class="pitch-value">1</div>
              <div class="clearfix"></div>
            </div>
            <select>
              
            </select>
            <div class="controls">
              <button id="play" type="submit" accesskey="4">Play</button>
            </div>
            </form>
            <p>Note: Use the Google Chrome browser, to be able to access Google text-to-speech voice.</p>
      </div>
      <div id="right_border">
      </div>
      </div>
      <div id="footer">
        <%- include("footer") -%>
      </div>
      <script src="javascripts/tts.js"></script>
    </body>

</html>